.prdDisplayBoxPrice {

font-size: 12px;
margin-left: 40px;
margin-bottom: 0px;
}

.prdDisplayBoxName {

 display: block; 
 text-align: center; 
 word-wrap: break-word; 
 font-size: 14px;
  margin-top: 0px;

}


.nav-pills > .active > a,
.nav-pills > .active > a:hover,.nav-pills > li > a:hover {
text-decoration: none;
font-weight: bold;

border-width:2px;	

border-style: groove;
    color: black !important;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#f7f7f8),color-stop(100%,#ececee));
}
.nav-pills > li > a{
    border-radius:0px;
}


.billTable{
border-color: orange !important;
}

.bill-scrolable-height{
min-height:290px;
}

.pre-scrollable {
max-height: 290px !important;

}

.billControls{
max-width: inherit;
}

.colorstrip{
    width: 100%; height: 30px;
    
    border-color: #46b8da;
    background-color: #5bc0de;
	color: white;
	margin-top: 7px;
	font-size: 17px;
	margin-bottom: 7px;
	font-weight: bold;
}
