.prdDisplayBoxPrice {

font-size: 12px;
margin-left: 40px;
margin-bottom: 0px;
}

.prdDisplayBoxName {

 display: block; 
 text-align: center; 
 word-wrap: break-word; 
 font-size: 14px;
  margin-top: 0px;

}

dialog {  
    width: 800px;  
    
} 

.nav-pills > .active > a,
.nav-pills > .active > a:hover,.nav-pills > li > a:hover {
text-decoration: none;
font-weight: bold;

border-width:2px;	

border-style: groove;
    color: black !important;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#f7f7f8),color-stop(100%,#ececee));
}
.nav-pills > li > a{
    border-radius:0px;
}


.billTable{
border-color: orange !important;
}

.bill-scrolable-height{
min-height:290px;
}

.pre-scrollable {
max-height: 290px !important;

}

.billControls{
max-width: inherit;
}

.colorstrip{
    width: 100%; height: 30px;
    
    border-color: #46b8da;
    background-color: #5bc0de;
	color: white;
	margin-top: 7px;
	font-size: 17px;
	margin-bottom: 7px;
	font-weight: bold;
}

.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}
