
<div ng-controller='CategoryCtr1'
	infinite-scroll="invokeLoadCategories(1000)" infinite-scroll-distance='0'
	infinite-scroll-disabled='CategoryCtrl.busy'>

	<table width=100%>
		<tr>
			<td>
				<h3>Categorys</h3>
			</td>
			<td align="right">

				<button type="button" class="btn btn-success" ng-click="resetCategoryAddForm(category)" data-toggle="modal"
					data-target="#addCategoryModal">
					<span class="glyphicon glyphicon-ok"></span> Add Category
				</button>

			</td>
		</tr>
	</table>

	<!-- Modal -->
	<div class="modal fade" id="addCategoryModal" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Customer</h4>
				</div>
				<div class="modal-body">
					<!-- <div ng-include="'/static/views/category.form.html'"></div>  -->
					
					<form  ng-submit="createCategory(category, categoryForm, category.instanceId)" method="post" name="categoryForm" >     

					    <div class="form-group col-md-12" >
					        <label for="msg" class="info"><center><b>{{successMsg}}</b></center></label>             
					    </div>
					   
					   <div class="form-group col-md-12">
					        <label for="name">Category Name</label>
					        <div class="input-group">
					            <input type="text" class="form-control" name="name" ng-model="category.name" placeholder="Category Name" required>
					            <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
					        </div>
					    </div> 
					    <div class="form-group col-md-12" align='center'>
					        <button type="submit" class="btn btn-primary">Save</button>    
					        <button ng-hide="category.instanceId" type="button" ng-click="createCategoryAndSaveAnother(category, categoryForm)" class="btn btn-primary">Save and Continue</button>
					        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> 
					    </div>
					</form>

				</div>
				<div class="modal-footer">
				    
					<div class=" col-md-1">
                        
                                <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
						
					</div>
					<div class=" col-md-7">
                        
                        <span class="mandatoryIcon" >Denotes Mandatory Fields</span>
                        
                    </div>
                    
				</div>
			</div>
		</div>
	</div>

	<table class="table tableheader table-striped table-bordered">
		<thead>
			<tr>
                <th>Category Name</th>
                <th>Edit / Delete</th>
				
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="category in categories track by $index">
		       <td>{{category.name}}</td>
		      <td>
                    <button ng-click="openwindow(category)" type="button"
                        class="btn btn-xs btn-success" data-toggle="modal" data-target="#addCategoryModal">
                        Edit</button>
                </td>
		    </tr>
		</tbody>

	</table>

	<div ng-show='CustomerCtrl.busy'>Loading data...</div>




</div>

<script>

</script>

