<form method="post" name="categoryForm" ng-submit="createCategory(category)" >
    <div class="form-group col-md-4" ></div>
    <div class="form-group col-md-4" >
        <label for="name">Category Name</label>
        <div class="input-group">
            <input type="text" class="form-control" name="name" ng-model="category.name" placeholder="Category Name" required>
            <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
        </div>
    </div>
    
    <div class="form-group col-md-12" align='center'>
         <button type="submit" class="btn btn-primary">Add Category</button>
    </div>
</form>