

<div infinite-scroll="invokeLoadEmployees()" ng-controller='EmployeeCtr1'  infinite-scroll-distance='0' infinite-scroll-disabled='EmployeeCtrl.busy'>
	<table class="table" >
	  <thead>
	    <tr>
	      <th>Name1</th>
	      <th>Email Id</th>
	      <th>Phone Number</th>
	      <th>Honour Points</th>
	      <th>Edit/Delete</th>
	    </tr>
	  </thead>
	  <tbody >
	  
	    
	    <tr ng-repeat="employee in employees track by $index" >
	      <td>{{employee.firstName}} {{employee.lastName}}</td>
	      <td>{{employee.emailId}}</td>
	      <td>{{employee.phoneNumber}}</td>
	      <td>{{employee.honour}}</td>
	      <td><a href="#" ng-click="openwindow(customer.instanceId)">Edit</a>
	      <a href="#" ng-click="openViewProductWindow(customer.instanceId)">View</a></td>
	    </tr>
	  </tbody>
	 
	</table>
	
	    <div ng-show='EmployeeCtrl.busy'>Loading data...</div>
	
	
	
</div>


        