<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>ERPFOG - POS</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <script src="../static/lib/underscore.min.js"></script>
    <script src="../static/lib/angular/angular.min.js"></script>
    
    <script src="../static/js/controller.js"></script>
  </head>

  <body style="padding-top: 70px;">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">POS</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/report">Report</a></li>
            <li><a href="#inventory">Inventory</a></li>
            <li><a href="#user">User</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Welcome, {{ user.nickname() }} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">My Account</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="/logout">logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% raw %}
    <div class="container" ng-app="POSApp">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9" id="billpanel" ng-controller="BillController">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="row">
            <div class="panel panel-primary">
			  <div class="panel-heading clearfix">
			     <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Bill</h4>
			     <div class="btn-group pull-left" style="padding-left:10px">
                     <a href="#" class="btn btn-success btn-sm" ng-click="printBill()">Print</a>
                 </div>
			     <div class="btn-group pull-right">
			        <a href="#" class="btn btn-default btn-sm" ng-click="createBill()">Create</a>
			        <a href="#" class="btn btn-default btn-sm" ng-click="suspendBill()">Suspend</a>
			        <a href="#" class="btn btn-default btn-sm" data-toggle="modal" data-target="#suspendModal">{{ getLength(bills.draft) }}</a>
			        <a href="#" class="btn btn-default btn-sm" ng-click="cancelBill()">Cancel</a>
			        <!--  button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span></button>
                    <button type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove-circle"></span></button>
                    <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-ban-circle"></span></button -->  
			      </div>
			  </div>
			
			  <table id="billDetails" class="table" ng-if="currentBill != null">
	              <tr>
	                <th>#</th>
	                <th>Particulars</th>
	                <th>Quantity</th>
	                <th>Price</th>
	                <th>Amount</th>
	              </tr>
	              <tr ng-repeat="item in currentBill.items">
	                <td>{{ item.id }}</td>
	                <td>{{ item.name }}</td>
	                <td><input type="text" value="{{ item.quantity }}" style="width:60px" ng-model="item.quantity" ng-blur="updateItem(item)"></input></td>
	                <td>{{ item.price }}</td>
	                <td>{{item.amount }}</td>
	              </tr>
	              <tr ng-show="currentBill.items.length">
	                  <td colspan="4" style="text-align: right;"><b>Total</b></td>
	                  <td>{{ currentBill.total }}</td>
	              </tr>
	          </table>
	          <div ng-hide="currentBill">
	           <p style="padding:10px"> click Create to proceed</p>
	          </div>
			</div>
          </div><!--/row-->
          
       <!-- Modal -->
       <div class="modal fade" id="suspendModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	      <div class="modal-dialog">
	        <div class="modal-content">
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	            <h4 class="modal-title" id="myModalLabel">Suspended Bill</h4>
	          </div>
	          <div class="modal-body">
	            <table class="table">
	                  <tr>
	                    <th>#</th>
	                    <th></th>
	                  </tr>
	                  <tr ng-repeat="bill in bills.draft">
	                    <td>{{ bill.id }}</td>
	                    <td> <a href="#" class="btn btn-default btn-sm" ng-click="setCurrentBill(bill)">View</a></td>
	                  </tr>
	              </table>
	          </div>
	          <div class="modal-footer">
	            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	          </div>
	        </div>
	      </div>
       </div>
    
        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation" ng-controller="ProductController">
          
          <div class="panel panel-primary">
              <div class="panel-heading">Products</div>
              <div class="right-inner-addon">
                <i class="icon-search"></i>
                <input type="search" class="form-control" placeholder="Search" ng-model="searchText"/>
              </div>
	          <div class="pre-scrollable" >
	            <a href="#" class="menu-item list-group-item" ng-repeat="product in products | filter:searchText" ng-click="handleClick(product)">{{ product.name }}<span class="badge">Rs. {{ product.price }}</span></a></a>
	          </div>
	      </div>
        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>

    </div> <!-- /container -->
    
    
    {% endraw %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/lib/jquery/jquery-2.1.1.min.js"></script>
    <script src="../static/lib/jquery/jquery.print.js"></script>
    <script src="../static/lib/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
