  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>ERPFOG - POS</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/css/custom.css" rel="stylesheet">
    
    <script src="../static/lib/underscore.min.js"></script>
    <script src="../static/lib/angular/angular.min.js"></script>
    
    <script src="../static/js/controller.js"></script>
	
  </head>

 <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse " role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">POS</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/report">Report</a></li>
            <li><a href="#inventory">Inventory</a></li>
            <li><a href="#user">User</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Welcome, {{ user.nickname() }} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">My Account</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="/logout">logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav> 
  
 <div class="container" ng-app="POSApp" >

    <div class="row" ng-controller="BillController">
		<div class="col-md-4 menu-category list-group pre-scrollable">

					<table id="billDetails" class="table">
						<tr class="colorstrip">
							<th>Particulars</th>
							<th>Quantity</th>
							<th>Price</th>
							<th>Amount</th>
							<tr ng-if="currentBill.items.length == 0">
							   <td colspan=4>Please select to product to sell</td>
						</tr>

	              </tr>
						 <tr ng-repeat="item in currentBill.items">
							<td>{{ item.name }}</td>
							<td><input type="text" value="{{ item.quantity }}" style="width:60px" ng-model="item.quantity" ng-blur="updateItem(item)"></input></td>
							<td>{{ item.price }}</td>
							<td align='right'>{{item.amount }}</td>
						  </tr>
						  
						  
				  
				   </table>
				   
				   
				    <!-- Modal -->
				   <div id="suspendModal"  class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
						<div class="modal-content">
						  <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title" id="myModalLabel">Suspended Bill</h4>
						  </div>
						  <div class="modal-body">
							<table class="table">
								  <tr>
									<th>#</th>
									<th></th>
								  </tr>
								  <tr ng-repeat="bill in bills.draft">
									<td>{{ bill.id }}</td>
									<td> <a href="#" class="btn btn-default btn-sm" ng-click="setCurrentBill(bill)">View</a></td>
								  </tr>
							  </table>
						  </div>
						  <div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						  </div>
						</div>
					  </div>
				   </div>
				 
				</div>
				

        <div class="col-md-8 wrapper" ng-controller="ProductController">
		
			<div class="right-inner-addon">
				<div class="form-group has-feedback">
					<i class="form-control-feedback glyphicon glyphicon-search"></i>
                    <input type="search" class="form-control" placeholder="Search Product by start typing or scanning" ng-model="searchText"/>
     			</div>
				
              </div>
		
		

			<div class="pre-scrollable" >
	        <div class="colorstrip">Select Product</div>
				<ul  class="nav nav-pills">
					<li style="width: 170px; height: 74px;" class="active" 
					ng-repeat="product in products | filter:searchText"
					ng-click="handleClick(product)"><a  href="#tab1" >
					<span class="prdDisplayBoxName">{{ product.name | uppercase }}</span>  
					<span class="prdDisplayBoxPrice">Rs. {{ product.price }}</span>
					
					</a>
					
					 </li>
				</ul>
				
				
				</a>
	          </div>
		</div>
		
	
	<div  class="row" ng-controller="POSController">
	
        <div class="col-md-4">

		
						  <table ng-show="currentBill.items.length" class="table" align=right>
							  <tr >
								  <td style="text-align: right;">SubTotal:</td>
								  <td>{{ currentBill.total }}</td>
							    <td  style="text-align: right;">Tax:</td>
								  <td>0</td>
							    <td style="text-align: right;"><b>Total:</b></td>
								  <td>{{ currentBill.total }}</td>
							  </tr>
							  
							  <tr>							
							
							   <td colspan="6" align=center><a href="#" class="btn btn-info  btn-lg" ng-click="printBill()">Complete Sale</a></td>
							</tr>
							  
							  <tr ng-show="currentBill.items.length" >
								<td colspan=4 align="right"><select>
										  <option value="volvo">Cash</option>
										  <option value="saab">Card</option>
										  <option value="mercedes">Tokens</option>
										  <option value="audi">Cheque</option>
										</select> Paid by customer:</td>
								<td colspan=2 align="right"><input type="text" value='{{ currentBill.customerPaidAmt }}' style='width:60px' ng-blur="updateTenderAmt(currentBill)" ng-model='currentBill.customerPaidAmt' /></td>
							</tr>
							<tr ng-show="currentBill.items.length" >
								<td colspan=6 align="center">Tender {{ currentBill.customerPaidAmt  - currentBill.total}} to customer</td>
							</tr>
							
							<tr ng-show="currentBill.items.length" >
								<td colspan=2 align="center"><a href="#" class="btn-sm" ng-click="">Cancel</a></td>
								<td colspan=2 align="center"><a href="#" class="btn-sm" ng-click="">Suspend This Bill</a></td>
								<td colspan=2 align="center"><a href="#" class="btn-sm" ng-click="">View Suspended Bill</a></td>
							</tr>
							
							
							<tr ng-show="currentBill.items.length" >
								<td colspan=2 align="center"><a href="#" class="btn btn-default btn-sm" ng-click="">Cancel</a></td>
								<td colspan=2 align="center"><a href="#" class="btn btn-default btn-sm" ng-click="">Suspend This Bill</a></td>
								<td colspan=2 align="center"><a href="#" class="btn btn-default btn-sm" ng-click="">View Suspended Bill</a></td>
							</tr>
							

						   </table>
						
			</div>
			
		
       <div class="col-md-8">

	   

	       <div class="scrollable categaryDiv">
		   <div class="colorstrip">Select Category</div>

					<ul  class="nav nav-pills">
							<li style="width: 170px; height: 74px;" class="active" 
							ng-repeat="categary in categaryList"  
							><a  href="#tab1" >
							<span class="prdDisplayBoxName">{{ categary.name | uppercase }}</span>  
							
							</a>
							
							 </li>
						</ul>
				</div>
			
		</div>
		
      
	
	</div>
</div>

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/lib/jquery/jquery-2.1.1.min.js"></script>
    <script src="../static/lib/jquery/jquery.print.js"></script>
    <script src="../static/lib/bootstrap/js/bootstrap.min.js"></script>
